* {
  box-sizing: border-box;
  font-size: 14 px;
}


.App {
  position: relative;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
}

.App.dark{
  background-color: #212325;
}

.landingPage  {
  width: 100%;
  min-height: 100vh;
}

.userHome  {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  /* position: relative; */
}

.modalNoteCon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalNoteCon.dark {
  background-color: rgba(0, 0, 0, 0.459);
}

.settingsPage {
  background-color: transparent;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loginPage .signin  {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(124, 124, 124, 0.971);
  padding: 0 0 1rem 0;
}

.signinCon .brandImg{
  width: 10rem;
}

.signinCon .brandName {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  color: rgb(119, 119, 119);
}

.loginPage .signinCon {
  width: 24rem;
  height: 28rem;
  border: 1px solid rgba(184, 184, 184, 0.571);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.login-with-google-btn {
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;
    
  padding: 8px 12px 8px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #888;
  font-size: 13px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(240, 240, 240);
  background-repeat: no-repeat;
  background-position: 12px 9px;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: clamp(2.8rem, 10vw, 3.5rem);
  padding: 0 clamp(1rem, 5vw, 3rem);
  align-items: center;
  background-color: transparent;
  box-shadow: 0rem 0.3rem 0.6rem rgb(192, 192, 192);
}

.navbar.dark{
  box-shadow: 0rem 0.3rem 0.6rem rgb(63, 62, 62);
  border-bottom: 0.1rem solid grey;
}

.navbar .left  {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.navbar .left .brandCon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .left .brandImg  {
  width: clamp(2rem, 6vw, 2.5rem);
}
.navbar .left .brandCon div{
  margin: 0;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  height: fit-content;
}

.navbar.dark .left .brandCon div{
  margin: 0;
  color: #ddd;
}

.navbar .right  {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar .right .profileImg  {
  width: clamp(1.5rem, 6vw, 2rem);
  border-radius: 50%;
}

.navbar .icon, .navbar .icon.dark  {
  color: grey;
  font-size: 1.5rem;
}

.icon  {
  color: grey;
  font-size: 1.2rem;
}

.navbar .iconCon{
  width: clamp(2.5rem, 6vw, 2.6rem);
  height: clamp(2.5rem, 6vw, 2.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.iconCon{
  position: relative;
}

.iconCon .info{
  display: none;
  position: absolute;
  font-size: 0.8rem;
  background-color: rgb(75, 75, 75);
  width: max-content;
  top: 2.2rem;
  color: rgb(230, 230, 230);
  border-radius: 0.3rem;
  word-wrap: normal;
  padding: 0.1rem 0.4rem;
}

.navbar .iconCon .info{
  top: 2.8rem;
}

.navbar .iconCon.profile .info{
  right: -0.8rem;
}

.iconCon:hover{
  background-color: rgb(0,0,0,0.1);
}

.iconCon.dark:hover{
  background-color: rgb(75, 75, 75);
}

.iconCon:hover .icon{
  color: rgb(80, 80, 80);
}

.iconCon:hover .info{
  display: block;
}

.iconCon.dark:hover .icon{
  color: rgb(224, 224, 224);
}

.hoverable  {
  cursor: pointer;
}

.restBody {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  /* min-height: inherit; */
}

.sidebar  {
  /* width: clamp(20rem, 22vw, 22rem); */
  /* width: 20%; */
  min-width: 16rem;
  flex: 0 0 20%;
  min-height: calc(100vh - clamp(2.8rem, 10vw, 3.5rem));
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: transparent;
  align-items: center;
}

.sidebar.collapsed  {
  /* width: clamp(6rem, 6.6vw, 6.6rem); */
  min-width: 6rem;
  flex: 0 0 6rem;
}

.sideLink {
  width: 100%;
  height: 4rem;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 0 2rem 2rem 0;
}

.sideLink .icon{
  width: clamp(6rem, 6.6vw, 6.6rem);
  font-size: 1.4rem;
}

.sidebar.collapsed .sideLink {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.sidebar.collapsed .sideLink .icon{
  width: 4rem;
}



.sideLink.active  {
  background-color: rgb(253, 228, 114)!important;
}

.sideLink.active  div{
  color: rgb(61, 61, 61)!important;
}

.sideLink.active  .icon{
  color: rgb(61, 61, 61)!important;
}

.sideLink.dark.active  {
  background-color: rgb(102, 86, 17)!important;
}

.sideLink:hover {
  background-color: rgb(228, 228, 228);
}

.sideLink.dark:hover {
  background-color: rgb(59, 59, 59);
}

.sideLink div{
  width: calc(100% - clamp(6rem, 6.6vw, 6.6rem));
  /* background-color: aqua; */
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(138, 120, 120);
}

.sideLink.dark div{
  color: rgb(190, 178, 178);
}

.sideLink.dark.active div{
  color: rgb(238, 238, 238)!important;
}

.sideLink.dark.active .icon{
  color: rgb(238, 238, 238)!important;
}

.sideLink:first-child {
  margin-top: 2rem;
}

/* .archivedBody {
  display: grid;
  padding: 5rem;
  grid-template: auto / repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
} */

.notesCon, .trashedCon, .archivedCon {
  /* width: calc(100vw - clamp(16rem, 22vw, 20rem)); */
  flex: 1 0 auto;
  min-height: calc(100vh - clamp(2.8rem, 10vw, 3.5rem));
  /* border: 1px solid green; */
  padding: 2rem 0.6rem;
  /* background-color: grey; */
}

.createNoteCon  {
  /* background-color: #ddd; */
  padding-bottom: 2rem;
}

.createOrEditNote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNoteCon .minimized  {
  width: clamp(22rem, 50%, 25rem);
  border: none;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  height: 3.5rem;
  box-shadow: 0 0rem 0.3rem grey;
  background-color: transparent;
}

.createNoteCon .minimized::placeholder{
  color: rgb(99, 99, 99);

}

.palette{
  position: relative;
}

.palette .backgroundPalette {
  position: absolute;
  top: 2rem;
  left: -15rem;
  background-color: rgb(248,248,248);
  z-index: 1;
  width: 27rem;
  height: 7rem;
  background-color: rgb(248, 248, 248);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.0rem 0.3rem grey;
}

.palette .backgroundPalette.dark{
  background-color: #202124;
}

.backgroundPaletteCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backgroundPaletteCon > * {
  width: 100%;
  height: 3.5rem ;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 0.3rem; */
}

.backgroundColorCon .backgroundColor {
  border: 0.15rem solid;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundColorCon .backgroundColor:hover {
  border: 1px solid black;
}
.backgroundColorCon .backgroundColor.dark:hover {
  border: 1px solid rgb(211,211,211);
}
.backgroundColorCon .backgroundColor.selected {
  border: 2px solid rgb(0, 219, 0);
}

.backgroundColorCon {
  gap: 0.2rem;
}

.no-color {
  width: 1.6rem;
  
}
.no-color.dark {
  width: 1.6rem;
  /* color: rgb(248,248,248); */
  fill : rgb(211,211,211);
}
.no-image {
  font-size: 1.6rem;
}
.no-image.dark {
  font-size: 1.6rem;
  color: rgb(211,211,211);
}

.backgroundImageCon {
  border-top: 0.1rem solid grey;
  width: fit-content;
  gap: 0.35rem;
}
.backgroundImageCon .backgroundImage {
  border: 1px solid;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 1.15rem;
  border: none;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundImageCon .backgroundImage:hover {
  border: 1px solid black;
}
.backgroundImageCon .backgroundImage.dark:hover {
  border: 1px solid rgb(211,211,211);
}
.backgroundImageCon .backgroundImage.selected {
  border: 2px solid rgb(0, 219, 0);
}

.modalUserAndLogoutCon  {
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: transparent;
  top: clamp(2.9rem, 10vw, 3.6rem);
  left: 0;
  z-index: 0;
}

.modalUserAndLogout  {
  position: fixed;
  width: 20rem;
  top: clamp(2.6rem, 9vw, 3.3rem);
  right: 1rem;
  height: 24rem;
  background-color: rgb(248,248,248);
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modalUserAndLogoutCon .dp img{
  width: 6rem;
  border-radius: 3rem;
  margin: 1rem 0 0.8rem 0;

}

.modalUserAndLogoutCon .ei{
  letter-spacing: 0.05rem;

}

.modalUserAndLogoutCon .dn{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
  color: rgb(79, 79, 79);
}

.modalUserAndLogoutCon .logout{
  width: fit-content;
  padding: 0.6rem 1.4rem;
  border: 0.01rem solid rgba(172, 172, 172, 0.738);
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.85rem;
  color: #555;
  background-color: transparent;
}

.modalUserAndLogoutCon .logout:hover{
  background-color: rgba(0, 0, 0, 0.025);
}

.modalSettingsCon  {
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;

}


.modalSettings  {
  position: fixed;
  width: 17rem;
  top: clamp(8rem, 10vw, 13rem);
  left: calc(50vw - 10.5rem);
  height: 24rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.15);
}

.modalSettingsCon.dark .modalSettings {
  background-color: rgb(47, 47, 47);
  /* box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.152); */
}

.modalSettings .header{
  font-size: 1.4rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
}

.modalSettingsCon.dark * {
  color: rgb(211,211,211);
}

.modalSettings .section{
  width: 100%;
  padding: 0.8rem 1rem;
  /* background-color: #aaa; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(110, 110, 110);
}

.modalSettings .item .checkBox  {
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid rgb(155, 155, 155);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.modalSettings .checkBox .svg {
  width: 2rem;
  font-size: 1.1rem;
  color: grey;
}

.modalSettings .footer  {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 0 0rem 0 6rem;
  /* background-color: #999; */
}

.modalSettings .footer :last-child  {
  margin-left: 1rem;
  color:  rgb(35, 137, 205);
  font-weight: 600;
}

.modalSettings .footer :last-child:hover  {
  background-color: rgba(218, 247, 255, 0.623);
}

.modalSettingsCon.dark .footer :last-child:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.modalSettings .footer *{
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.3rem;
  background-color: transparent;
  font-size: 0.9rem;
}

.modalSettings .footer *:hover{
  background-color: rgb(0,0,0,0.05);
}

.section .item:not(:first-child)  {
  margin-top: 0.3rem;
}

.section .heading {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  font-weight: 600;
  color: rgb(35, 137, 205);
  font-size: 0.95rem;
}

.modalSettingsCon.dark .heading{
  /* color: rgb(95, 177, 255); */
}

.section .item  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section .item *  {
  font-size: 0.8rem;
}

.newNote  {
  width: clamp(40rem, 50%, 50rem);
  min-height: 14rem;
  padding: 1rem;
}

.modalNote  {
  position: fixed !important;
  top: 20rem;
  width: clamp(40rem, 50%, 50rem);
  min-height: 13rem !important;
  max-height: 60rem;
  padding: 1rem;
}

.newNote .header, .modalNote .header{
  display: flex;

  align-items: left;
}

.newNote .header .newTitle, .modalNote .header .newTitle{
  width: 92%;
  font-size: 1.25rem;
  min-height: 3rem;
  max-height: 3rem;
  word-wrap: normal;
  text-align: left;
  border: none;
  background-color: transparent;
  overflow: auto;
  cursor: text;
  resize: none;
  color: #444 ;
  font-weight: 600;
}

.newNote .header .newTitle.dark, .modalNote .header .newTitle.dark{
  color: #ccc ;
}

.newNote .newTitle:focus, .modalNote .newTitle:focus{
  outline: none;
}

.newNote .newDescription {
  width: 100%;
  font-size: 1.1rem;
  /* min-height: 5rem; */
  /* max-height: 30rem; */
  /* height: fit-content; */
  word-wrap: normal;
  border: none;
  background-color: transparent;
  overflow: auto;
  text-align: left;
  resize: none;
  color: #333;
}

.modalNote .newDescription  {
  width: 100%;
  font-size: 1.1rem;
  min-height: 6rem;

  height: 6rem;
  margin-bottom: 2rem;
  word-wrap: normal;
  border: none;
  background-color: transparent;
  overflow: auto;
  text-align: left;
  resize: none;
  color: #333;
}

.newNote .newDescription.dark, .modalNote .newDescription.dark{
  color: #bbb;
}

.newNote .newDescription:focus, .modalNote .newDescription:focus{
  outline: none;
}


.newNote .newDescription::-webkit-scrollbar, .modalNote .newDescription::-webkit-scrollbar {
  width: 0.4rem;
  cursor: pointer;
  
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.2rem;
}

.newNote .newDescription::-webkit-scrollbar-thumb, .modalNote .newDescription::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 0.3rem;
}

.newNote .newDescription.dark::-webkit-scrollbar-thumb, .modalNote .newDescription.dark::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 0.3rem;
}

.newNote .newDescription::-webkit-scrollbar-thumb:hover, .modalNote .newDescription::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.newNote .newDescription.dark::-webkit-scrollbar-thumb:hover, .modalNote .newDescription.dark::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.newNote .actions .right .bottom, .modalNote .actions .right .bottom {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.newNote .right button {
  visibility: hidden;
  border: none;
  border-radius: 0.3rem;
  padding: 0 1.5rem;
  color: grey;
  letter-spacing: 0.05rem;
  font-weight: 600;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newNote .right button:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(80, 80, 80);
}

.newNote .right button.dark:hover {
  background-color: rgb(75, 75, 75);
  color: rgb(224, 224, 224);
}

.newNote:hover .right button{
  visibility: visible;
}

.pinnedNotesCon, .unPinnedNotesCon {
  padding-top: 3rem;
}
.pinnedNotesHeader, .unPinnedNotesHeader  {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.04rem; 
  padding: 0 0 1.5rem 2rem;
}

.trashedHeader  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
}

.trashedHeader .header-note {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

.trashedHeader button  {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: rgb(0, 170, 170);
  font-weight: 600;
  background-color: transparent;
}

.trashedHeader button:hover {
  background-color: rgb(218, 247, 255);
}

.trashedCon.dark  *, .archivedCon.dark  *, .pinnedNotesCon.dark *, .unPinnedNotesCon.dark *{
  color: rgb(211, 211, 211);
}

.trashedCon.dark  , .archivedCon.dark  *{
  color: rgb(211, 211, 211);
}

/* .trashedCon.dark .trashedHeader .header-note {
  color: rgb(211, 211, 211);
}  */

.trashedBody, .archivedBody, .pinnedNotesBody, .unPinnedNotesBody  {
  width: 100%;
  display: grid;
  justify-content: center;
  /* align-items: center; */
  grid-template-columns: repeat(auto-fit, 20rem);
  /* grid-auto-rows: auto; */
  grid-auto-rows: minmax(4rem, max-content);
  grid-auto-flow: row;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  /* border: 1px solid red; */
}

/* .modalNoteCon .note{
  border: 1px solid rgb(168, 168, 168);
  box-shadow: 0rem 0rem 0.3rem rgb(189, 189, 189);
  border-radius: 0.5rem;
  padding: 0.5rem;
} */

.note{
  position: relative;
  border: 1px solid rgb(168, 168, 168);
  box-shadow: 0rem 0rem 0.3rem rgb(189, 189, 189);
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-height: 12rem;
  /* z-index: 0; */
}

.note:hover  {
  box-shadow: 0rem 0rem 0.3rem rgb(189, 189, 189);
}

.note.dark  {
  border: 1px solid rgb(128, 128, 128);
}

.note .header{
  position: relative;
}

.note .header .iconCon{
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: clamp(2.4rem, 3.5vw, 2.5rem);
  height: clamp(2.4rem, 3.5vw, 2.5rem);
}

.note .title {
  font-size: 1.4rem;
  text-align: left;
  padding: 0 0 0rem 0;
  min-height: 2.5rem;
  max-height: 6rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  overflow-wrap: break-word;
}

.note .description {
  font-size: 1.2rem;
  text-align: left;
  padding: 0rem 0 7rem 0;
  min-height: 2rem;
  max-height: 6.5rem;
  overflow-wrap: break-word;
}

.note .actions {
  position: absolute;
  right: 0;
  bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 0 0 0;
}

.note .actions .left{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.note .actions .right{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: #555;
  font-weight: 500;
}

.note .actions .right .top{
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note .actions .right button{
  width: 4rem;
  border: none;
  color: #777;
  font-weight: 600;
  border-radius: 0.3rem;
  background-color: transparent;
}

.note .actions .right button:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color: #555;
}
 
.note .iconCon{
  position: relative;
  width: clamp(2rem, 3.5vw, 2.1rem);
  height: clamp(2rem, 3.5vw, 2.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  /* animation: hideIcons 0.4s ease-in-out; */
}

.modalNote .actions{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note:hover .iconCon  {
  opacity: 1;
  animation: showIcons .4s ease-in-out;
}

@keyframes showIcons {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hideIcons {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.note .icon  {
  color: grey;
  font-size: 1.4rem;
}


