* {
  box-sizing: border-box;
  font-size: 10px;
}


.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
}

.App.dark{
  background-color: #242628;
}

.landingPage  {
  width: 100%;
  min-height: 100vh;
}

.userHome  {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.settingsPage {
  background-color: transparent;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: clamp(2.8rem, 10vw, 3.5rem);
  padding: 0 clamp(1rem, 5vw, 3rem);
  align-items: center;
  background-color: transparent;
  box-shadow: 0rem 0.3rem 0.6rem rgb(192, 192, 192);
}

.navbar.dark{
  box-shadow: 0rem 0.3rem 0.6rem rgb(63, 62, 62);
  border-bottom: 0.1rem solid grey;
}

.navbar .left  {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.navbar .left .brandCon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .left .brandImg  {
  width: clamp(2rem, 6vw, 2.5rem);
}
.navbar .left div{
  margin: 0;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  height: fit-content;
}

.navbar.dark .left div{
  margin: 0;
  color: #ddd;
}

.navbar .right  {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar .right .profileImg  {
  width: clamp(1.5rem, 6vw, 2rem);
  border-radius: 50%;
}

.navbar .icon, .navbar .icon.dark  {
  color: grey;
  font-size: 1.5rem;
}

.icon  {
  color: grey;
  font-size: 1.2rem;
}

.navbar .iconCon{
  width: clamp(2.5rem, 6vw, 2.6rem);
  height: clamp(2.5rem, 6vw, 2.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.iconCon:hover{
  background-color: rgb(230, 230, 230);
}

.iconCon.dark:hover{
  background-color: rgb(75, 75, 75);
}

.iconCon:hover .icon{
  color: rgb(80, 80, 80);
}

.iconCon.dark:hover .icon{
  color: rgb(224, 224, 224);
}

.hoverable  {
  cursor: pointer;
}

.restBody {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.sidebar  {
  width: clamp(16rem, 22%, 20rem);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: transparent;
  align-items: center;
}

.sidebar.collapsed  {
  
}

.sideLink {
  width: 95%;
  height: 3.5rem;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 0 2rem 2rem 0;
}

.sideLink.active  {
  background-color: rgb(253, 228, 114)!important;
}

.sideLink.active  div{
  color: rgb(61, 61, 61)!important;
}

.sideLink.active  .icon{
  color: rgb(61, 61, 61)!important;
}

.sideLink.dark.active  {
  background-color: rgb(102, 86, 17)!important;
}

.sideLink:hover {
  background-color: rgb(228, 228, 228);
}

.sideLink.dark:hover {
  background-color: rgb(59, 59, 59);
}

.sideLink .icon{
  width: 30%;
  font-size: 1.4rem;
}

.sideLink div{
  width: 70%;
  /* background-color: aqua; */
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(138, 120, 120);
}

.sideLink.dark div{
  color: rgb(190, 178, 178);
}

.sideLink.dark.active div{
  color: rgb(238, 238, 238)!important;
}

.sideLink.dark.active .icon{
  color: rgb(238, 238, 238)!important;
}

.sideLink:first-child {
  margin-top: 2rem;
}
